/* body {
  width: 99%;
  height: 900px;
  background-color: #fc6;
}

#top-bar {
  margin-top: 28px;
}

.spacing-reset {
  padding: 0;
  margin: 0;
  border: 0;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: 0;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 990px;
  }
}

.enter_section {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#enter_text {
  width: 400px;
  height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  font-size: 38px;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

.button-size {
  padding-bottom: 20px;
}

#text-enter-button {
  margin-top: 10px;
  margin-bottom: 18px;
}

h1 {
  color: #f30;
} */


h1 {
  text-align: center;
  font-family: 'Kirang Haerang', cursive;
  font-size: 70px;
}

h2 {
  margin-left: 50px;
  margin-bottom: 50px;
  font-family: 'Kirang Haerang', cursive;
  font-size: 70px;

}

.col-sm-12 {
  margin-left: -500px;
}

#chorizo {
  padding-left: 60px;
}

form {
  padding-left: 60px;
}

body {
  background-image: url("../images/burger.jpg");
  margin: 0px;

}

.container {
    background-color: black;
    color: white;
    padding-top: 50px;
}

.jumbotron {
  background-color: black;
  color: #ffff;    
  
}

.eaten {
    background-color: black;
    font-family: 'Kirang Haerang', cursive;
    font-size: 30px;

}

.addBurgerButton {
    background-color: black;
    color: white;
    font-family: 'Kirang Haerang', cursive;
    font-size: 30px;
  
}

.devourIt {
  background-color: black;
  color: white;
  font-family: 'Kirang Haerang', cursive;
  font-size: 30px;
  margin-left: -500px;
  margin-top: 80px;

}


.task {
  background-color: white;
}


.question{
  background-color: black;
  color: white;
  font-family: 'Kirang Haerang', cursive;
  font-size: 30px;

}

.col-md-6{

  background-color: white;
}